<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyr.mapper.ClaimsAndDebtMapper">

    <resultMap id="BaseResultMap" type="com.yyr.pojo.ClaimsAndDebt">
            <id property="cadId" column="cad_id" jdbcType="VARCHAR"/>
            <result property="createdBy" column="CREATED_BY" jdbcType="VARCHAR"/>
            <result property="createdTime" column="CREATED_TIME" jdbcType="TIMESTAMP"/>
            <result property="updatedBy" column="UPDATED_BY" jdbcType="VARCHAR"/>
            <result property="updatedTime" column="UPDATED_TIME" jdbcType="TIMESTAMP"/>
            <result property="cadType" column="cad_type" jdbcType="VARCHAR"/>
            <result property="creditor" column="creditor" jdbcType="VARCHAR"/>
            <result property="obligor" column="obligor" jdbcType="VARCHAR"/>
            <result property="creditorTel" column="creditor_tel" jdbcType="VARCHAR"/>
            <result property="obligorTel" column="obligor_tel" jdbcType="VARCHAR"/>
            <result property="cadAmount" column="cad_amount" jdbcType="VARCHAR"/>
            <result property="cadTime" column="cad_time" jdbcType="TIMESTAMP"/>
            <result property="cadRepaymentTime" column="cad_repayment_time" jdbcType="TIMESTAMP"/>
            <result property="cadPlanRepaymentTime" column="cad_plan_repayment_time" jdbcType="TIMESTAMP"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="cadStatus" column="cad_status" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        cad_id,CREATED_BY,CREATED_TIME,
        UPDATED_BY,UPDATED_TIME,cad_type,
        creditor,obligor,creditor_tel,
        obligor_tel,cad_amount,cad_time,
        cad_repayment_time,cad_plan_repayment_time,remark,
        cad_status
    </sql>
</mapper>
