<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyr.mapper.FamilyRoleMapper">

    <resultMap id="BaseResultMap" type="com.yyr.pojo.FamilyRole">
            <id property="famRoleId" column="fam_role_id" jdbcType="VARCHAR"/>
            <result property="famRoleName" column="fam_role_name" jdbcType="VARCHAR"/>
            <result property="famRoleDesc" column="fam_role_desc" jdbcType="VARCHAR"/>
            <result property="famId" column="fam_id" jdbcType="VARCHAR"/>
            <result property="createdBy" column="CREATED_BY" jdbcType="VARCHAR"/>
            <result property="createdTime" column="CREATED_TIME" jdbcType="TIMESTAMP"/>
            <result property="updatedBy" column="UPDATED_BY" jdbcType="VARCHAR"/>
            <result property="updatedTime" column="UPDATED_TIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        fam_role_id,fam_role_name,fam_role_desc,
        fam_id,CREATED_BY,CREATED_TIME,
        UPDATED_BY,UPDATED_TIME
    </sql>
</mapper>
