<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyr.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.yyr.pojo.User">
            <id property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="userPwd" column="user_pwd" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="VARCHAR"/>
            <result property="birthday" column="birthday" jdbcType="TIMESTAMP"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="qqnum" column="qqNum" jdbcType="VARCHAR"/>
            <result property="sysRoleId" column="sys_role_id" jdbcType="VARCHAR"/>
            <result property="familyId" column="family_id" jdbcType="VARCHAR"/>
            <result property="famRoleId" column="fam_role_id" jdbcType="VARCHAR"/>
            <result property="isactive" column="status" jdbcType="VARCHAR"/>
            <result property="createdTime" column="CREATED_TIME" jdbcType="TIMESTAMP"/>
            <result property="updatedBy" column="UPDATED_BY" jdbcType="VARCHAR"/>
            <result property="updatedTime" column="UPDATED_TIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,user_name,user_pwd,
        sex,birthday,email,
        qqNum,sys_role_id,family_id,
        fam_role_id,isActive,CREATED_TIME,
        UPDATED_BY,UPDATED_TIME
    </sql>
</mapper>
